In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('1.-Badly-Structured-Sales-Data-1.xlsx')
df

,Segment>>,Consumer,Unnamed: 2,Unnamed: 3,Unnamed: 4,Consumer Total,Corporate,Unnamed: 7,Unnamed: 8,Unnamed: 9,Corporate Total,Home Office,Unnamed: 12,Unnamed: 13,Unnamed: 14,Home Office Total
0,Ship Mode>>,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN
1,Order ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2011-100293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056,91.0560
3,CA-2011-100706,NaN,NaN,129.44,NaN,129.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-2011-100895,NaN,NaN,NaN,605.47,605.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,US-2014-166611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.742,68.7420,NaN,NaN,NaN,NaN,NaN
821,US-2014-167920,NaN,NaN,1827.51,NaN,1827.510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
822,US-2014-168116,NaN,NaN,NaN,NaN,NaN,NaN,8167.42,NaN,NaN,8167.4200,NaN,NaN,NaN,NaN,NaN
823,US-2014-168690,NaN,NaN,NaN,2.808,2.808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,Grand Total,20802.173,8132.409,49724.2545,116922.1345,195580.971,20792.607,9907.308,35243.231,55942.7865,121885.9325,7737.786,2977.456,8791.127,54748.6325,74255.0015

In [3]:
df = df.fillna(0)
df

,Segment>>,Consumer,Unnamed: 2,Unnamed: 3,Unnamed: 4,Consumer Total,Corporate,Unnamed: 7,Unnamed: 8,Unnamed: 9,Corporate Total,Home Office,Unnamed: 12,Unnamed: 13,Unnamed: 14,Home Office Total
0,Ship Mode>>,First Class,Same Day,Second Class,Standard Class,0.000,First Class,Same Day,Second Class,Standard Class,0.0000,First Class,Same Day,Second Class,Standard Class,0.0000
1,Order ID,0,0,0,0,0.000,0,0,0,0,0.0000,0,0,0,0,0.0000
2,CA-2011-100293,0,0,0,0,0.000,0,0,0,0,0.0000,0,0,0,91.056,91.0560
3,CA-2011-100706,0,0,129.44,0,129.440,0,0,0,0,0.0000,0,0,0,0,0.0000
4,CA-2011-100895,0,0,0,605.47,605.470,0,0,0,0,0.0000,0,0,0,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,US-2014-166611,0,0,0,0,0.000,0,0,0,68.742,68.7420,0,0,0,0,0.0000
821,US-2014-167920,0,0,1827.51,0,1827.510,0,0,0,0,0.0000,0,0,0,0,0.0000
822,US-2014-168116,0,0,0,0,0.000,0,8167.42,0,0,8167.4200,0,0,0,0,0.0000
823,US-2014-168690,0,0,0,2.808,2.808,0,0,0,0,0.0000,0,0,0,0,0.0000
824,Grand Total,20802.173,8132.409,49724.2545,116922.1345,195580.971,20792.607,9907.308,35243.231,55942.7865,121885.9325,7737.786,2977.456,8791.127,54748.6325,74255.0015

In [4]:
df.rename(columns = {'Segment>>':'Order ID','Unnamed: 2':'Consumer Same Day', 'Consumer':'Consumer First Class', 'Unnamed: 3':'Consumer Second Class', 'Unnamed: 4':'Consumer Standard Class', 'Corporate':'Corporate First Class', 'Unnamed: 7':'Corporate Same Day', 'Unnamed: 8':'Corporate Second Class', 'Unnamed: 9':'Corporate Standard Class', 'Home Office':'Office First Class', 'Unnamed: 12':'Office Same Day', 'Unnamed: 13':'Office Second Class', 'Unnamed: 14':'Office Standard Class'}, inplace = True)

In [5]:
df.drop(df.index[0:2], inplace=True)

In [6]:
df['Consumer First Class']=df['Consumer First Class'].astype(float, errors = 'raise')
df['Consumer Same Day']=df['Consumer Same Day'].astype(float, errors = 'raise')
df['Consumer Standard Class']=df['Consumer Standard Class'].astype(float, errors = 'raise')
df['Corporate First Class']=df['Corporate First Class'].astype(float, errors = 'raise')
df['Corporate Same Day']=df['Corporate Same Day'].astype(float, errors = 'raise')
df['Corporate Second Class']=df['Corporate Second Class'].astype(float, errors = 'raise')
df['Corporate Standard Class']=df['Corporate Standard Class'].astype(float, errors = 'raise')
df['Office First Class']=df['Office First Class'].astype(float, errors = 'raise')
df['Office Same Day']=df['Office Same Day'].astype(float, errors = 'raise')
df['Office Second Class']=df['Office Second Class'].astype(float, errors = 'raise')
df['Office Standard Class']=df['Office Standard Class'].astype(float, errors = 'raise')

In [7]:
df['Segment']=0
df['Ship Mode']=0
df['total']=df['Consumer Total']+df['Corporate Total']+df['Home Office Total']

In [8]:
df

,Order ID,Consumer First Class,Consumer Same Day,Consumer Second Class,Consumer Standard Class,Consumer Total,Corporate First Class,Corporate Same Day,Corporate Second Class,Corporate Standard Class,Corporate Total,Office First Class,Office Same Day,Office Second Class,Office Standard Class,Home Office Total,Segment,Ship Mode,total
2,CA-2011-100293,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,91.0560,91.0560,0,0,91.056
3,CA-2011-100706,0.000,0.000,129.44,0.0000,129.440,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,0,0,129.440
4,CA-2011-100895,0.000,0.000,0,605.4700,605.470,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,0,0,605.470
5,CA-2011-100916,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,788.8600,788.8600,0.000,0.000,0.000,0.0000,0.0000,0,0,788.860
6,CA-2011-101266,0.000,0.000,13.36,0.0000,13.360,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,0,0,13.360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,US-2014-166611,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,68.7420,68.7420,0.000,0.000,0.000,0.0000,0.0000,0,0,68.742
821,US-2014-167920,0.000,0.000,1827.51,0.0000,1827.510,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,0,0,1827.510
822,US-2014-168116,0.000,0.000,0,0.0000,0.000,0.000,8167.420,0.000,0.0000,8167.4200,0.000,0.000,0.000,0.0000,0.0000,0,0,8167.420
823,US-2014-168690,0.000,0.000,0,2.8080,2.808,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,0,0,2.808
824,Grand Total,20802.173,8132.409,49724.2545,116922.1345,195580.971,20792.607,9907.308,35243.231,55942.7865,121885.9325,7737.786,2977.456,8791.127,54748.6325,74255.0015,0,0,391721.905

In [9]:
df.loc[df['Consumer Total'] >1, 'Segment'] = 'Consumer'
df.loc[df['Corporate Total'] >1, 'Segment'] = 'Corporate'
df.loc[df['Home Office Total'] >1, 'Segment'] = 'Home Office'
df.loc[df['Consumer First Class'] >1, 'Ship Mode'] = 'First Class'
df.loc[df['Consumer Same Day'] >1, 'Ship Mode'] = 'Same Day'
df.loc[df['Consumer Second Class'] >1, 'Ship Mode'] = 'Second Class'
df.loc[df['Consumer Standard Class'] >1, 'Ship Mode'] = 'Standard Class'
df.loc[df['Corporate First Class'] >1, 'Ship Mode'] = 'First Class'
df.loc[df['Corporate Same Day'] >1, 'Ship Mode'] = 'Same Day'
df.loc[df['Corporate Second Class'] >1, 'Ship Mode'] = 'Second Class'
df.loc[df['Corporate Standard Class'] >1, 'Ship Mode'] = 'Standard Class'
df.loc[df['Office First Class'] >1, 'Ship Mode'] = 'First Class'
df.loc[df['Office Same Day'] >1, 'Ship Mode'] = 'Same Day'
df.loc[df['Office Second Class'] >1, 'Ship Mode'] = 'Second Class'
df.loc[df['Office Standard Class'] >1, 'Ship Mode'] = 'Standard Class'

In [10]:
df

,Order ID,Consumer First Class,Consumer Same Day,Consumer Second Class,Consumer Standard Class,Consumer Total,Corporate First Class,Corporate Same Day,Corporate Second Class,Corporate Standard Class,Corporate Total,Office First Class,Office Same Day,Office Second Class,Office Standard Class,Home Office Total,Segment,Ship Mode,total
2,CA-2011-100293,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,91.0560,91.0560,Home Office,Standard Class,91.056
3,CA-2011-100706,0.000,0.000,129.44,0.0000,129.440,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,Consumer,Second Class,129.440
4,CA-2011-100895,0.000,0.000,0,605.4700,605.470,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,Consumer,Standard Class,605.470
5,CA-2011-100916,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,788.8600,788.8600,0.000,0.000,0.000,0.0000,0.0000,Corporate,Standard Class,788.860
6,CA-2011-101266,0.000,0.000,13.36,0.0000,13.360,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,Consumer,Second Class,13.360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,US-2014-166611,0.000,0.000,0,0.0000,0.000,0.000,0.000,0.000,68.7420,68.7420,0.000,0.000,0.000,0.0000,0.0000,Corporate,Standard Class,68.742
821,US-2014-167920,0.000,0.000,1827.51,0.0000,1827.510,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,Consumer,Second Class,1827.510
822,US-2014-168116,0.000,0.000,0,0.0000,0.000,0.000,8167.420,0.000,0.0000,8167.4200,0.000,0.000,0.000,0.0000,0.0000,Corporate,Same Day,8167.420
823,US-2014-168690,0.000,0.000,0,2.8080,2.808,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.0000,Consumer,Standard Class,2.808
824,Grand Total,20802.173,8132.409,49724.2545,116922.1345,195580.971,20792.607,9907.308,35243.231,55942.7865,121885.9325,7737.786,2977.456,8791.127,54748.6325,74255.0015,Home Office,Standard Class,391721.905

In [11]:
df.columns

Index(['Order ID', 'Consumer First Class', 'Consumer Same Day',
       'Consumer Second Class', 'Consumer Standard Class', 'Consumer Total',
       'Corporate First Class', 'Corporate Same Day', 'Corporate Second Class',
       'Corporate Standard Class', 'Corporate Total', 'Office First Class',
       'Office Same Day', 'Office Second Class', 'Office Standard Class',
       'Home Office Total', 'Segment', 'Ship Mode', 'total'],
      dtype='object')

In [12]:
columns=['Consumer First Class', 'Consumer Same Day',
       'Consumer Second Class', 'Consumer Standard Class', 'Consumer Total',
       'Corporate First Class', 'Corporate Same Day', 'Corporate Second Class',
       'Corporate Standard Class', 'Corporate Total', 'Office First Class',
       'Office Same Day', 'Office Second Class', 'Office Standard Class',
       'Home Office Total']
df.drop(columns, inplace=True, axis=1)

In [13]:
df

           Order ID      Segment       Ship Mode       total
2    CA-2011-100293  Home Office  Standard Class      91.056
3    CA-2011-100706     Consumer    Second Class     129.440
4    CA-2011-100895     Consumer  Standard Class     605.470
5    CA-2011-100916    Corporate  Standard Class     788.860
6    CA-2011-101266     Consumer    Second Class      13.360
..              ...          ...             ...         ...
820  US-2014-166611    Corporate  Standard Class      68.742
821  US-2014-167920     Consumer    Second Class    1827.510
822  US-2014-168116    Corporate        Same Day    8167.420
823  US-2014-168690     Consumer  Standard Class       2.808
824     Grand Total  Home Office  Standard Class  391721.905

[823 rows x 4 columns]

In [14]:
df.to_excel(r'D:\good-Structured-Sales-Data.xlsx', index = False)